<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @study_protocol.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @study_protocol.belongs_to %>
</p>

<%= link_to 'Edit', edit_study_protocol_path(@study_protocol) %> |
<%= link_to 'Back', study_protocols_path %>
