<h1> Add Experiment </h1>
<%= form_for :experiment, url: experiments_path do |f| %>
<% if @experiment.errors.any? %>
  <% @experiment.errors.full_messages.each do |msg| %>
    <div class = "alert alert-danger"> <%= msg %> </div>
  <%  end %>
  <%  end %>
<p>
<%=  f.label :name %> <br>
<%=  f.text_field :name %>
</p>

<p>
<%=  f.label :author_id %> <br>
<%=  f.text_field :author_id %>
</p>
<p>
<%=  f.submit %>
</p>

<% end %>
