<%= form_with(model: protocol, local: true) do |form| %>
  <% if protocol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(protocol.errors.count, "error") %> prohibited this protocol from being saved:</h2>

      <ul>
      <% protocol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :protocol_Name %>
  </div>

  <div class="field">
    <%= form.label :Version %>
    <%= form.number_field :Version, id: :protocol_Version %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.text_field :Type, id: :protocol_Type %>
  </div>

  <div class="field">
    <%= form.label :DefinitionData %>
    <%= form.text_field :DefinitionData, id: :protocol_DefinitionData %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
