<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag   'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'App' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CogSci</a>
      </div>
      <div id="admin-nav" class="navbar-collapse ">
        <ul class="nav navbar-nav">
              <li><a href="#">Action</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Action</a></li>
              </ul>
      </div><!--.nav-collapse -->
    </div>
  </nav>
  
<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Begin page content -->
  <div class="container">
      <div id="admin-nhav" class="collapse navbar-collapse">
              <li><a href="#">Action</a></li>
      </div><!--.nav-collapse -->
    <div id="admin-app"> </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted credit">DTU</p>
  </div>
</div>
  </body>
</html>
